@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans'), url(NunitoSans_7pt-Regular.ttf);
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src:local('Nunito Sans'), url(NunitoSans_7pt-Bold.ttf);
}
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src:local('Yeseva One'), url(YesevaOne-Regular.ttf);
}